*,*::before, *::after {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: white;
}

body {
    padding: 0;
    margin: 0;
    background: #363434;
}

.menu {
    width: 100%;
    position: fixed; /* Zmiana na fixed */
    top: 0;
    left: 0;
    padding: 0 3rem;
    background: black;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    z-index: 100; /* Upewniamy się, że menu jest zawsze na wierzchu */
}

.menu a {
    margin: 0 1rem;
    text-decoration: none;
    padding: 1rem .5rem;
    font-size: 26px;
    font-family: Verdana;
    font-weight: bold;
}

.content {
    color: white;
    padding: 20px;
    margin-top: 150px; /* Margines na górze, aby tekst nie nachodził na menu */
    font-size: 18px;
    text-align: left;
}

h1 {
    font-size: xx-large;
    font-family: Verdana;
    color: whitesmoke;
    text-align: center;
    font-weight: bold;
}

h2
{
    font-size: larger;
    font-family:'Courier New';
    color: whitesmoke;
    text-align: center;
    font-weight: bold;
}


